{% extends 'home_base.html' %}

{% block main_content %} 

  {% for panel in panels %}
    <div class="column">
      <a href="{{ url_for(panel.url) }}">
        <h3>{{ panel.url }}</h3>
      </a>
      <iframe 
        style="background-color:{{panel.bk_color}}"
        frameborder="0"
      ></iframe>
    </div>
  {% endfor %}
{% endblock  %}

{# test #}

{% block end %}
<script>
  function refresh_column_height() {
    var browser_height = $(document.body).height();
    browser_height -= $("#header").outerHeight() + $("#footer").outerHeight();
    browser_height += 7
    //console.log($(document.body).height(),$("#header").outerHeight() ,$("#footer").outerHeight() );
    $("div.column").css("height",browser_height);
  }
  refresh_column_height();
  $(window).resize(refresh_column_height);
</script>  
{% endblock  %}
