<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet"  href="../static/css/monitor.css"  type="text/css">
<div class="main">
    <div >
      <img class="camera_monitor" src="{{ url_for('video_feed') }}">
    </div>
    <p id="frame_rate">speed: XX frame/sec. </p>
    <p id="frame_count"> monitor test </p>
    <script>
      function polling_info(){
        $.ajax({
          url: "camera/info",
          type: "GET",
          dataType: "json",
          timeout: 10000,
          success: function (jdata) {
            $("#frame_rate").text("speed: " + 
              jdata["frame_rate"].toFixed(2) + " frames/sec. (" +
              (jdata["throughput"]/1000000.0).toFixed(2) + " MB/s.)"
            );
          }
        });
      };
      setInterval(polling_info, 1000);

    </script>
</div>