<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<div>
    <div >
      <img class="camera_monitor" src="{{ url_for('video_feed') }}">
      <!-- 640 x 480 -->
      <!-- <div class="camera_window"></div>-->
    </div>
    <p id="frame_rate">speed: XX frame/sec. </p>
    <p id="frame_count"> </p>
    <script>
      function polling_info(){
        $.ajax({
          url: "camera/info",
          type: "GET",
          dataType: "json",
          timeout: 10000,
          success: function (jdata) {
            //console.log(jdata["frame_count"]);
            $("#frame_rate").text("speed: " + jdata["frame_rate"].toFixed(2) + " frames/sec.");
          }
        });
      };
      setInterval(polling_info, 1000);

    </script>
</div>